body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#whiteboard {
    border: 3px solid blue;
    width: 70vh; /* Adjust width to fit landscape layout */
    height: 50vh; /* Adjust height to fit landscape layout */
    cursor: crosshair;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#clear {
    background-color: #fff;
    color: #333;
}

#red {
    background-color: #ff4136;
    color: #fff;
}

#blue {
    background-color: #0074d9;
    color: #fff;
}

#green {
    background-color: #2ecc40;
    color: #fff;
}

#black {
    background-color: #111;
    color: #fff;
}
